<section id="twitter-timeline" class="col-xs-12 col-sm-6 col-md-12">
	<h1>
        Latest Tweets
        <small class="pull-right">
            <a class="btn" href="//twitter.com/Ikhsan_IR" title="@Ikhsan_IR on Twitter" target="_blank">
                <i class="fa fa-external-link"></i>
            </a>
        </small>
    </h1>
	<!-- <h2>
		<a class="twitter-timeline" href="https://twitter.com/Ikhsan_IR">Tweets by Ikhsan_IR</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</h2> -->
</section>
<section style="margin-top:15px;height: 90vh;margin-top: 15px;overflow-x: auto;">
<a class="twitter-timeline" href="https://twitter.com/Ikhsan_IR">Tweets by Ikhsan_IR</a>
<!-- <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/Ikhsan_IR" data-link-color="#049cdb" data-tweet-limit="" data-chrome="noheader nofooter transparent noscrollbar">Tweets by Ikhsan_IR</a> -->
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<!-- <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script> -->
</section>